<!DOCTYPE html>
<html>
<head>
  <title>Polderprojects test application | <%= @title%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <nav class="round">
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "about", about_path %></li>
<li><%= link_to "contact", contact_path %></li>
<li><%= link_to "geheim", geheim_path %></li>
</ul>
</nav>
</head>
<body>

<%= yield %>

</body>
</html>
